---
layout: index
---
<nav id="top-nav" class="head1">
  <div>
    <a href="https://a-letheia.github.io/blog/inwards" id="top-nav-temp"><img src="{{ site.baseurl }}/assets/img/a-letheia_icon.png" alt="α-λ"></a>
    <ul>
      <li><a href="https://a-letheia.github.io/blog/inwards/fragments">Fragmets</a></li>
      <li><a href="https://dragontony1.github.io/dtB/essays">Essays</a></li>
    </ul>
  <div>
</nav>
<main>
  <div id="list-sect">
    {{ content }}
  </div>
  <footer class="head1">
    2021 dragontony1 Blog<br>
    StyleSheet v2.2<br>
    BLOG CLOSED; PRIVATE PROPERTY - KEEP OUT! СAЙТ ЗАКРЫТ; ЧАСТНАЯ СОБСТВЕННОСТЬ - НЕ ВХОДИТЬ!
  </footer>
</main>
