---
layout: index
---
<nav id="top-nav" class="head1">
  <div>
    <a href="https://a-letheia.github.io/blog/inwards" id="top-nav-temp"><img src="{{ site.baseurl }}/assets/img/a-letheia_icon.png" alt="α-λ"></a>
    <ul>
      <li><a href="https://a-letheia.github.io/blog/inwards/fragments">Fragments</a></li>
      <li><a href="https://a-letheia.github.io/blog/inwards/essays">Essays</a></li>
      <li><a href="https://a-letheia.github.io/blog">Go to main</a></li>
      <li><a href="">About me</a></li>
    </ul>
  <div>
</nav>
<main>
  {{ content }}
  <footer class="head1">
    2021 a-letheia Blog<br>
    StyleSheet Beta v1.0<br>
    Powered by GitHub: https://github.com/a-letheia/blog
  </footer>
</main>
